
#ul{
    color: wheat;
}
h3{
    margin: auto;
    color: brown;
}
#d{
    margin-top: 10px;
}
#about{
    margin-top: 10px;
}
#home{
    margin-top: 80px;
}
#c3{
    margin-top: 30px;
}
#heding{
    margin-top: 30px;
}